#container{
  margin: 10px;
  font-size: 16px;
}

#container p{
  color: black;
  font-size: 20px;
  width: 90%;
}

#container ion-card{
  background-color: #CCC;
}

#container span{
  color: red;
}

.concluida{
  text-decoration: line-through;
}
