<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> MineTasks </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
    <ion-label position="floating">Digite uma tarefa</ion-label>
    <ion-input
      [(ngModel)]="tarefa.descricao"
    ></ion-input>
  </ion-item>
    <hr>
    <ion-list>
      <ion-card *ngFor="let item of tarefas">
        <ion-card-content>
          <p
            (click)="finalizar(item.id)"
            [ngClass]="{'concluida':item.concluida}"
          >
            {{ item.descricao }}
          </p>

          <span (click)="excluir(item.id)">
            <ion-icon name="trash-outline"></ion-icon>
          </span>
        </ion-card-content>
      </ion-card>
    </ion-list>

  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="adicionar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
